::-webkit-scrollbar {
    display: none;
}

body {
    padding: 2em;
    background: #575757;
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
}

caption div img {
    max-height: 100%;
}

caption div span {
    font-weight: 1000;
    display: inline-block;
}

caption div {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

caption {
    padding: 1rem 0 1rem 0;
    width: 100%;
}

li[aria-selected='true'] {
    color: black;
}

th {
    background: hsl(0 0% 0% / 0.5);
    cursor: pointer;
}

th,
td {
    padding: 1rem;
    width: 100%;
}

tr:nth-child(even) {
    background: hsl(0 0% 0% / 0.1);
}

.center {
    text-align: center;
    width: 20%;
}

.select2-dropdown {
    border-radius: 0 0 0.5rem 0.5rem;
    overflow: hidden;
}

.select2-results__option {
    background-color: #323232;
}

.select2-selection__choice {
    display: none;
}

.selected-list {
    list-style: none;
    background-color: #353535;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
}

.unselect-list {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

#analysed {
    border-radius: 0 0 1rem 1rem;
    height: 500px;
}

#analysed,
#symptoms,
#tips,
#image {
    width: min(900px, 100% - 3rem);
    margin: auto;
    overflow-y: auto;
}

#gejala {
    width: 100%;
}

#image img {
    width: 10%;
}

#image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list-analysed {
    width: 100%;
    height: 90%;
    background-color: #323232;
    border-collapse: collapse;
    table-layout: fixed;
}

#note {
    padding-top: 10px;
}

#result h4 {
    margin-bottom: 0;
}

#result table tr td {
    padding: 0.5rem;
}

#result table tr:nth-child(odd) {
    background: hsl(0 0% 0% / 0.2);
}

#result table {
    border-collapse: collapse;
    border-radius: 0.5rem;
    overflow: hidden;
}

#selection ul {
    list-style: none;
    padding: 0;
    padding-bottom: 20px;
}

#symptoms {
    min-height: 300px;
}

#tips {
    padding-top: 10px;
    min-height: 30px;
    display: flex;
    align-items: center;
}

#toggle {
    appearance: none;
    height: 2rem;
    width: 3.5rem;
    background-color: #fff;
    position: relative;
    border-radius: .2em;
    cursor: pointer;
    margin-left: auto;
    transition: 0s;
}

#toggle::before {
    content: '';
    display: block;
    height: 1.9em;
    width: 1.9em;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(1.9em/2 + .3em);
    background-color: #E81B1B;
    border-radius: .2em;
    transition: .3s ease;
}

#toggle:checked::before {
    background-color: #009068;
    left: calc(100% - (1.9em/2 + .3em));
}